.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.env
users.json
src/survey_assist_sayt_ui/templates/components/
src/survey_assist_sayt_ui/templates/layout/
.DS_Store
node_modules/
