{% extends "core.html" %}

{%- set page_title = settings.service_name -%}
{%- set page_heading = settings.service_name -%}
{%- set current_path = url_for("main.index") -%}
{%- set main_col_class = "ons-col-8@m" -%}

{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
  <div class="container">
    <header>
      <h1>Shape Tomorrow Study</h1>
    </header>

    <nav class="sidebar">
      <h2>In this section</h2>
      <ol>
        <li><a href="#begin-study">Begin study</a></li>
        <li><a href="#about-research">About this research</a></li>
        <li><a href="#data-protection">How we protect your data</a></li>
        <li><a href="#automated-questions">Use of automated follow-up questions</a></li>
        <li><a href="#contact">Contact us</a></li>
      </ol>
    </nav>
    <hr>
    <main class="content">
      <section id="begin-study">
        <div>
        <h2>1. Begin study</h2>
        <p>Thank you for taking part. The information you give us is protected by law and treated as confidential.</p>
        <p>To begin the study, select “Start now”.</p>
        </div>
        {{ onsButton({
              "id": "save-values-button",
              "variants": 'loader',
              "text": 'Start now',
              "url": url_for("main.wireframe"),
              })
          }}
        <div class="info-box">
          <br>
          <h3>Use of automated follow-up questions</h3>
          <p>This study uses an Artificial Intelligence (AI) tool to generate automated follow-up questions.</p>
          <p>Sometimes these automated follow-up questions may be confusing or ask for personal details. If that happens, type ‘n/a’ or ‘inappropriate’ into the text box. This helps us improve the tool.</p>
        </div>
      </section>
      <hr>
      <section id="about-research">
        <h2>2. About this research</h2>
        <p>The purpose of this research is to test survey questions. The findings will be used to help shape the design of government surveys. We are grateful for your time.</p>
        <p>Your participation in this research is voluntary, and you may withdraw at any time, without reason.</p>
      </section>
      <hr>
      <section id="data-protection">
        <h2>3. How we protect your data</h2>
        <p>UK legislation allows us to collect and process your data to produce statistics for the public good. Your information will be treated as confidential as directed by the Code of Practice for Statistics. It will only be held for as long as it is being used for producing statistics and will not identify you. Study information may be provided to approved organisations or researchers for statistical purposes only.</p>
        <p>For more information, see <a href="https://www.ons.gov.uk/aboutus/transparencyandgovernance/dataprotection" target="_blank" rel="noopener noreferrer">data protection</a> and <a href="https://www.ons.gov.uk/surveys/informationforhouseholdsandindividuals/householdandindividualsurveys/findingyourstudy/mystudy/confidentialityanddataprotection" target="_blank" rel="noopener noreferrer">data protection and studies about people, families and households.</a></p>
      </section>
      <hr>
      <section id="automated-questions">
        <h2>4. Use of automated follow-up questions</h2>
        <p>This study uses an artificial intelligence (AI) tool to create automated follow-up questions. These are labelled and there may be a delay between questions.</p>
        <p>Automated follow-up questions are only asked if we need extra information. By answering, you help make our statistics more accurate.</p>
        <p>Sometimes these automated follow-up questions may be confusing or ask for personal details. If that happens, type ‘n/a’ or ‘inappropriate’ into the text box. This helps us improve the tool.</p>
        <p>The automated follow-up questions are created by Google Gemini. This is an AI tool which uses a large language model. Your data is not stored by Google Gemini, and it is not used to train Google’s AI models. It is only used to create the automated follow-up questions. The ONS will receive all data and remain in control of all information you give.</p>
      </section>
      <hr>
      <section id="contact">
        <h2>5. Contact us</h2>
        <p>For any queries please email: <a href="mailto:support@peopleforresearch.co.uk">support@peopleforresearch.co.uk</a>.</p>
        <p>When you are ready to take part, please return to <a href=#begin-study>begin study</a>.</p>
      </section>
    </main>
  </div>
{% endblock %}
